<div class="flex items-center justify-center min-h-screen bg-gray-100">
  <div class="w-full max-w-4xl p-6 bg-white rounded-lg shadow-md text-sm">
    <!-- Componente del calendario -->
    <div class="flex flex-wrap justify-center text-center">
      <div class="w-full md:w-1/3 mb-4">
        <div class="flex justify-center space-x-2">
          <button class="bg-blue-500 text-white px-2 py-1 rounded"
                  mwlCalendarPreviousView
                  [view]="view()"
                  [(viewDate)]="viewDate"
                  (viewDateChange)="closeOpenMonthViewDay()">
            Previous
          </button>
          <button class="border border-gray-500 text-gray-500 px-2 py-1 rounded"
                  mwlCalendarToday
                  [(viewDate)]="viewDate">
            Today
          </button>
          <button class="bg-blue-500 text-white px-2 py-1 rounded"
                  mwlCalendarNextView
                  [view]="view()"
                  [(viewDate)]="viewDate"
                  (viewDateChange)="closeOpenMonthViewDay()">
            Next
          </button>
        </div>
      </div>
      <div class="w-full md:w-1/3 mb-4">
        <h3 class="text-base font-semibold">{{ viewDate() | calendarDate:(view() + 'ViewTitle'):'en' }}</h3>
      </div>
      <div class="w-full md:w-1/3 mb-4">
        <div class="flex justify-center space-x-2">
          <button class="bg-blue-500 text-white px-2 py-1 rounded"
                  (click)="setView(CalendarView.Month)"
                  [class.active]="view() === CalendarView.Month">
            Month
          </button>
          <button class="bg-blue-500 text-white px-2 py-1 rounded"
                  (click)="setView(CalendarView.Week)"
                  [class.active]="view() === CalendarView.Week">
            Week
          </button>
          <button class="bg-blue-500 text-white px-2 py-1 rounded"
                  (click)="setView(CalendarView.Day)"
                  [class.active]="view() === CalendarView.Day">
            Day
          </button>
        </div>
      </div>
    </div>
    <br />
    @switch (view()) {
    @case (CalendarView.Month) {
    <mwl-calendar-month-view [viewDate]="viewDate()"
                             [events]="events()"
                             [refresh]="refresh"
                             [activeDayIsOpen]="activeDayIsOpen()"
                             (dayClicked)="dayClicked($event.day)"
                             (eventClicked)="handleEvent('Clicked', $event.event)"
                             (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-month-view>
    }
    @case (CalendarView.Week) {
    <mwl-calendar-week-view [viewDate]="viewDate()"
                            [events]="events()"
                            [refresh]="refresh"
                            (eventClicked)="handleEvent('Clicked', $event.event)"
                            (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-week-view>
    }
    @case (CalendarView.Day) {
    <mwl-calendar-day-view [viewDate]="viewDate()"
                           [events]="events()"
                           [refresh]="refresh"
                           (eventClicked)="handleEvent('Clicked', $event.event)"
                           (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-day-view>
    }
    }
  </div>
</div>

<!-- AQUI EMPIEZA EL EJEMPLO -->

<div class="flex items-center justify-center min-h-screen bg-gray-100">
  <div class="w-full max-w-4xl p-6 bg-white rounded-lg shadow-md text-sm">
    <h3 class="text-lg font-semibold flex justify-between items-center">
      Editar eventos
      <button class="bg-blue-500 text-white px-2 py-1 rounded"
              (click)="addEvent()">
        Añadir nuevo
      </button>
    </h3>

    <div class="overflow-x-auto mt-4">
      <table class="min-w-full border border-gray-300">
        <thead class="bg-gray-200">
          <tr>
            <th class="px-4 py-2 border-b">Título</th>
            <th class="px-4 py-2 border-b">Color primario</th>
            <th class="px-4 py-2 border-b">Color secundario</th>
            <th class="px-4 py-2 border-b">Empieza el</th>
            <th class="px-4 py-2 border-b">Termina el</th>
            <th class="px-4 py-2 border-b">Eliminar</th>
          </tr>
        </thead>
        <tbody>
          @for (event of events(); track event.id) {
          <tr class="border-t">
            <td class="px-4 py-2 border-b">
              <input type="text"
                     class="form-input w-full text-sm"
                     [(ngModel)]="event.title"
                     (ngModelChange)="refresh.next()" />
            </td>
            <td class="px-4 py-2 border-b">
              <input type="color"
                     class="form-input w-full h-10 p-0 border-none"
                     [(ngModel)]="event.color!.primary"
                     (ngModelChange)="refresh.next()" />
            </td>
            <td class="px-4 py-2 border-b">
              <input type="color"
                     class="form-input w-full h-10 p-0 border-none"
                     [(ngModel)]="event.color!.secondary"
                     (ngModelChange)="refresh.next()" />
            </td>
            <td class="px-4 py-2 border-b">
              <input class="form-input w-full text-sm"
                     type="datetime-local"
                     [(ngModel)]="event.start"
                     (ngModelChange)="refresh.next()" />
            </td>
            <td class="px-4 py-2 border-b">
              <input class="form-input w-full text-sm"
                     type="datetime-local"
                     [(ngModel)]="event.end"
                     (ngModelChange)="refresh.next()" />
            </td>
            <td class="px-4 py-2 border-b text-center">
              <button class="bg-red-500 text-white px-2 py-1 rounded"
                      (click)="deleteEvent(event)">
                Eliminar
              </button>
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>


  </div>
</div>

<!-- Modal para modificar los eventos -->

<ng-template #modalContent
             let-close="close">
  <div class="modal-header">
    <h5 class="modal-title">Acción del evento</h5>
    <button type="button"
            class="close"
            (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      Acción:
      <pre>{{ modalData()?.action }}</pre>
    </div>
    <div>
      Evento:
      <pre>{{ modalData()?.event | json }}</pre>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button"
            class="bg-gray-500 text-white px-2 py-1 rounded"
            (click)="close()">
      OK
    </button>
  </div>
</ng-template>