<div class="flex items-center justify-center min-h-scree bg-white">
  <div class="w-full max-w-4xl p-6 bg-blue-950 rounded-lg shadow-md text-sm">
    <!-- Componente del calendario -->
    <div class="flex flex-wrap justify-center text-center ">
      <div class="w-full md:w-1/3 mb-4">
        <div class="flex justify-center space-x-2">
          <button class="bg-blue-500 text-white px-2 py-1 rounded"
                  mwlCalendarPreviousView
                  [view]="view()"
                  [(viewDate)]="viewDate"
                  (viewDateChange)="closeOpenMonthViewDay()">
            Previous
          </button>
          <button class="border border-gray-500 text-gray-500 px-2 py-1 rounded"
                  mwlCalendarToday
                  [(viewDate)]="viewDate">
            Today
          </button>
          <button class="bg-blue-500 text-white px-2 py-1 rounded"
                  mwlCalendarNextView
                  [view]="view()"
                  [(viewDate)]="viewDate"
                  (viewDateChange)="closeOpenMonthViewDay()">
            Next
          </button>
        </div>
      </div>

      <!-- Central Date -->
      <div class="w-full md:w-1/3 mb-4 text-white">
        <h3 class="text-base font-semibold">{{ viewDate() | calendarDate:(view() + 'ViewTitle'):'en' }}</h3>
      </div>
      <div class="w-full md:w-1/3 mb-4 ">
        <div class="flex justify-center space-x-2">
          <button class="bg-blue-500 text-white px-2 py-1 rounded"
                  (click)="setView(CalendarView.Month)"
                  [class.active]="view() === CalendarView.Month">
            Month
          </button>
          <button class="bg-blue-500 text-white px-2 py-1 rounded"
                  (click)="setView(CalendarView.Week)"
                  [class.active]="view() === CalendarView.Week">
            Week
          </button>
          <button class="bg-blue-500 text-white px-2 py-1 rounded"
                  (click)="setView(CalendarView.Day)"
                  [class.active]="view() === CalendarView.Day">
            Day
          </button>
        </div>
      </div>
    </div>
    <br />
    @switch (view()) {
    @case (CalendarView.Month) {
    <mwl-calendar-month-view [viewDate]="viewDate()"
                             [events]="events()"
                             [refresh]="refresh"
                             [activeDayIsOpen]="activeDayIsOpen()"
                             (dayClicked)="dayClicked($event.day)"
                             (eventClicked)="handleEvent('Clicked', $event.event)"
                             (eventTimesChanged)="eventTimesChanged($event)"
                             class="bg-darken-1">
    </mwl-calendar-month-view>
    }
    @case (CalendarView.Week) {
    <mwl-calendar-week-view [viewDate]="viewDate()"
                            [events]="events()"
                            [refresh]="refresh"
                            (eventClicked)="handleEvent('Clicked', $event.event)"
                            (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-week-view>
    }
    @case (CalendarView.Day) {
    <mwl-calendar-day-view [viewDate]="viewDate()"
                           [events]="events()"
                           [refresh]="refresh"
                           (eventClicked)="handleEvent('Clicked', $event.event)"
                           (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-day-view>
    }
    }
  </div>
</div>

<!-- AQUI EMPIEZA EL EJEMPLO -->

<div class="flex items-center justify-center min-h-screen bg-gray-100">
  <div class="w-full max-w-4xl p-6 bg-white rounded-lg shadow-md text-sm">
    <h3 class="text-lg font-semibold flex justify-between items-center">
      Editar eventos
      <button class="bg-blue-500 text-white px-2 py-1 rounded"
              (click)="addEvent()">
        Añadir nuevo
      </button>
    </h3>

    <div class="overflow-x-auto mt-4">
      <table class="min-w-full border border-gray-300">
        <thead class="bg-gray-200">
          <tr>
            <th class="px-4 py-2 border-b">Título</th>
            <th class="px-4 py-2 border-b">Color primario</th>
            <th class="px-4 py-2 border-b">Color secundario</th>
            <th class="px-4 py-2 border-b">Empieza el</th>
            <th class="px-4 py-2 border-b">Termina el</th>
            <th class="px-4 py-2 border-b">Eliminar</th>
          </tr>
        </thead>
        <tbody>
          @for (event of events(); track event.title) {
          <tr class="border-t">
            <td class="px-4 py-2 border-b">
              <input type="text"
                     class="form-input w-full text-sm"
                     [(ngModel)]="event.title"
                     (ngModelChange)="refresh.next()" />
            </td>
            <td class="px-4 py-2 border-b">
              <input type="color"
                     class="form-input w-full h-10 p-0 border-none"
                     [(ngModel)]="event.color!.primary"
                     (ngModelChange)="refresh.next()" />
            </td>
            <td class="px-4 py-2 border-b">
              <input type="color"
                     class="form-input w-full h-10 p-0 border-none"
                     [(ngModel)]="event.color!.secondary"
                     (ngModelChange)="refresh.next()" />
            </td>
            <td>
              <input class="form-"
                     type="datetime"
                     mwlFlatpickr
                     [(ngModel)]="event.start"
                     (ngModelChange)="refresh.next()"
                     [altInput]="true"
                     [convertModelValue]="true"
                     [enableTime]="true"
                     dateFormat="Y-m-dTH:i"
                     altFormat="F j, Y H:i"
                     placeholder="Not set" />
            </td>
            <td class="px-4 py-2 border-b">
              <input class="form-input w-full text-sm"
                     type="datetime-local"
                     [(ngModel)]="event.end"
                     (ngModelChange)="refresh.next()" />
            </td>
            <td class="px-4 py-2 border-b text-center">
              <button class="bg-red-500 text-white px-2 py-1 rounded"
                      (click)="deleteEvent(event)">
                Eliminar
              </button>
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>


  </div>
</div>

<!-- Modal para modificar los eventos -->
<shared-modal-component />


<ng-template #modalContent
             let-modal>
  <div class="fixed inset-0 flex items-center justify-center z-50">
    <!-- Fondo oscuro para el modal -->
    <div class="fixed inset-0 bg-black opacity-50"
         (click)="[modal.dismiss(), ]"></div>
    <!-- Contenedor del modal arrastrable -->
    <div class="bg-gray-800 text-white rounded-lg shadow-lg relative w-full max-w-xl mx-4 "
         cdkDrag
         cdkDragRootElement=".modal-container">
      <!-- Encabezado del modal -->
      <div class="flex justify-between items-center p-4 border-b cursor-move"
           cdkDragHandle>
        <h5 class="text-lg font-semibold">Acción del evento</h5>
        <button type="button"
                class="text-gray-500 hover:text-gray-700"
                (click)="[modal.dismiss(), ]">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!-- Cuerpo del modal -->
      <div class="p-4">
        <div>
          Acción:
          <pre class="bg-gray-100 p-2 text-black rounded">{{ modalData()?.action }}</pre>
        </div>
        <div>
          Evento:
          <pre class="bg-gray-100 p-2 text-black rounded">{{ modalData()?.event | json }}</pre>
        </div>
      </div>
      <!-- Pie del modal -->
      <div class="flex justify-end p-4 border-t">
        <button type="button"
                class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600"
                (click)="modal.close()">
          OK
        </button>
      </div>
    </div>
  </div>
</ng-template>
