@import "tailwindcss";/* You can add global styles to this file, and also import other style files */

[contenteditable]:empty::before {
  content: attr(data-placeholder);
  color: #a0aec0; /* Gris, ajustable a tu preferencia */
  pointer-events: none;
  display: block;
  text-align: center;
}
